footer#footer
    .inner
        p.center
            span
                =`© Copyright ${(new Date()).getFullYear()} Cosmo Myzrail Gorynych`
                |
                | — the site is licensed under #[a(href="/" target="_blank") GPL-3]. The ct.js app is licensed under MIT license.
            |
            |
            a(href="/contact") Contact
            br
            a(href="https://github.com/ct-js/ct-js" title="Fork us on GitHub!")
                i.icon-github
            span &nbsp; &nbsp;
            a(href="https://discord.gg/CggbPkb" title="Join our Discord server!")
                i.icon-discord
            span &nbsp; &nbsp;
            a(href="https://www.patreon.com/comigo" title="Support the project on Patreon")
                i.icon-patreon