footer#footer
    .inner
        p.center 
            span © Copyright 2017-2018 CoMiGo Soft — All Rights Reserved.
            |
            |
            a(href="/contact") Contact
            br
            a(href="https://discord.gg/CggbPkb" title="Join our Discord server!")
                i.icon-discord
            span &nbsp; &nbsp;
            a(href="https://vk.com/ctjseditor" title="Russian community on vk.com")
                i.icon-vk
            span &nbsp; &nbsp;
            a(href="https://www.patreon.com/comigo" title="Support the project on Patreon")
                i.icon-patreon