footer#footer
    .inner
        p.center 
            span © Copyright 2017-2018 CoMiGo Soft — All Rights Reserved
            br
            a(href="https://discord.gg/CggbPkb" title="Join our Discord server!")
                i.icon-discord
            span &nbsp; &nbsp;
            a(href="https://vk.com/ctjseditor" title="Russian community on vk.com")
                i.icon-vk