nav#theNavBar
    a(href="/" title="Go to the homepage")
        img(src="/img/logoWhiteSmall.png")
    .toright
        a(href="/changelog")
            i.icon-bookmark
            span Changelog
        a(href="https://docs.ctjs.rocks/") 
            i.icon-file
            span   Docs
        a(href="https://comigo.itch.io/ct/community") 
            i.icon-help
            span   Forum
        a(href="/download") 
            i.icon-save
            span   Download