section#whatsnext
    .inner.center
        h2.nmt Что дальше?
section#docs.blue.gradient
    .inner
        .c1.breakon800
        .c3.npl.breakon800
            a.button.nml(href="https://docs.ctjs.rocks/")
                i.icon-file
                span   Доки
        .c7.npr.right.breakon800.lefton800
            h2.nmt
                b Посети сайт документации
            .hSub Пройди туториалы и изучи основную библиотеку ct.js
        .c1.breakon800
        .clear
section#docs.blue.gradAlt
    .inner
        .c1.breakon800
        .c7.npl.breakon800
            h2.nmt
                b Присоединяйся к сообществу
            .hSub В нём можно получить поддержку и познакомиться с другими разработчиками
        .c3.npr.right.breakon800.lefton800
            a.button.nmr.nml(href="https://discord.gg/CggbPkb")
                i.icon-discord
                span   Discord сервер
            a.button.nmr(href="https://comigo.itch.io/ct/community")
                i.icon-help
                span   Форум
        .c1.breakon800
        .clear
section#docs.blue.gradient
    .inner
        .c1.breakon800
        .c3.npl.breakon800
            a.button.nml(href="http://eepurl.com/c1iEH1")
                i.icon-letter
                span   Подписаться
        .c7.npr.right.breakon800.lefton800
            h2.nmt
                b Подпишись на новости
            .hSub Чтобы первым узнавать о новых релизах и новостях ct.js
        .c1.breakon800
        .clear
section#support
    .center
        a(href="https://www.patreon.com/comigo" target="_blank")
            img(src="/img/become_a_patron_button@2x.png" alt="Поддержать проект на Patreon" title="Поддержать проект на Patreon")
        p.
            Приоритетная поддержка, исходники игр и ваше имя в ct.js!