section#whatsnext
    .inner.center
        h2.nmt What's next?
section#docs.blue.gradient
    .inner
        .c1.breakon800
        .c3.npl.breakon800
            a.button.nml(href="https://docs.ctjs.rocks/")
                i.icon-file
                span   Docs
        .c7.npr.right.breakon800.lefton800
            h2.nmt
                b Read the docs
            .hSub Complete our tutorials and learn the ct.js coding library
        .c1.breakon800
        .clear
section#docs.blue.gradAlt
    .inner
        .c1.breakon800
        .c7.npl.breakon800
            h2.nmt
                b Join our community
            .hSub Get help and reach out to other creators
        .c3.npr.right.breakon800.lefton800
            a.button.nmr.nml(href="https://discord.gg/CggbPkb") 
                i.icon-discord
                span   Discord
            a.button.nmr(href="https://comigo.itch.io/ct/community")
                i.icon-help
                span   Forum
        .c1.breakon800
        .clear
section#docs.blue.gradient
    .inner
        .c1.breakon800
        .c3.npl.breakon800
            a.button.nml(href="http://eepurl.com/c1iEH1")
                i.icon-letter
                span   Subscribe
        .c7.npr.right.breakon800.lefton800
            h2.nmt
                b Subscribe to our newsletter
            .hSub Be the first to get updates to ct.js
        .c1.breakon800
        .clear
section#support
    .center
        a(href="https://www.patreon.com/comigo" target="_blank")
            img(src="/img/become_a_patron_button@2x.png" alt="Support the project on Patreon" title="Support ct.js on Patreon")
        p.
            Get priority support, source codes of games and your name included in the app!