section#whatsnext
    .inner.center
        h2.nmt O que vem por ai?
section#docs.blue.gradient
    .inner
        .c1.breakon800
        .c3.npl.breakon800
            a.button.nml(href="https://docs.ctjs.rocks/")
                i.icon-file
                span   Documentação
        .c7.npr.right.breakon800.lefton800
            h2.nmt
                b Leia a Documentação
            .hSub Complete nossos tutoriais e aprenda a biblioteca do ct.js
        .c1.breakon800
        .clear
section#docs.blue.gradAlt
    .inner
        .c1.breakon800
        .c7.npl.breakon800
            h2.nmt
                b Entre em nossa comunidade
            .hSub Tenha ajuda e fale com outros criadores
        .c3.npr.right.breakon800.lefton800
            a.button.nmr.nml(href="https://discord.gg/CggbPkb") 
                i.icon-discord
                span   Discord
            a.button.nmr(href="https://comigo.itch.io/ct/community")
                i.icon-help
                span   Forum
        .c1.breakon800
        .clear
section#docs.blue.gradient
    .inner
        .c1.breakon800
        .c3.npl.breakon800
            a.button.nml(href="http://eepurl.com/c1iEH1")
                i.icon-letter
                span   Inscreva-se
        .c7.npr.right.breakon800.lefton800
            h2.nmt
                b Inscreva-se em nosso Newsletters
            .hSub Seja o primeiro a saber as noticias do ct.js
        .c1.breakon800
        .clear
section#support
    .center
        a(href="https://www.patreon.com/comigo" target="_blank")
            img(src="/img/become_a_patron_button@2x.png" alt="De seu suporte ao projeto no Patreon" title="Ajude o ct.js no Patreon")
        p.
            Tenha suporte priorizado, source codes dos jogos e seu nome incluso no aplicativo!