doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title=i18n.patrons[site.locale].patrons
        link(rel="stylesheet" href="/patronsWidget.css")
    body
        main
            include /patrons.pug