doctype html
html
    head
        include /head.pug
        block head
            title ct.js
            meta(name="description" content="A free 2D game editor based on web technologies. Create browser games for free.")
    body
        include /header.pug
        block body
        include /footer.pug