@charset "utf-8"

html, body
    margin 0
    padding 0
    position relative
    height 100%
    scroll-behavior smooth
    @media (prefers-reduced-motion: reduce)
            scroll-behavior auto
body
    font 16px/28px fonts
    color text
    background white

:focus
    outline 0

[disabled]
    opacity 0.5
    filter grayscale(1)
    position relative
    &:after
        content " "
        display block
        cursor not-allowed
        top 0
        left 0
        right 0
        bottom 0
        position absolute

.borderall
    border 1px solid bd
.borderleft
    border-left 1px solid bd
.borderright
    border-right 1px solid bd
.bordertop
    border-top 1px solid bd
.borderbottom
    border-bottom 1px solid bd

.tall
    height 100%
    overflow auto
    box-sizing border-box

// перекрытие
.stretch
    position fixed
    top 0
    left 0
    right 0
    bottom 0

.short
    width 4em
    padding 0.2em 0.3em !important
    line-height 1 !important

@keyframes floating
    0%, 100%
        transform translate(0, 1%)
    50%
        transform translate(0, -1%)
.floating
    animation floating ease 5s infinite
    will-change transform

dt + dd
    margin-top 1rem

.aDiscordBadge
    position absolute
    right 1rem
    right calc(1rem + 1vw)
    top 14%
    animation 3s spun infinite
    border-radius 100%
    font-size 1.5rem
    padding 1rem
    background accent1
    background linear-gradient(to bottom, mix(act, accent1, 75%), accent1)
    box-shadow 0 0.25rem 0.5rem rgba(0, 0, 0, 0.35)
@keyframes spun
    0%, 20%
        transform rotate(0deg)
    40%, 100%
        transform rotate(360deg)