.icon, .feather
    width 1.5em
    height 1.5em
    vertical-align middle
    margin-inline-end 0.5rem
    fill currentColor
    &:last-child
        margin-inline-end 0
    &.huge
        color accent1
        font-size 6rem
        line-height 6rem
        &.feather
            stroke-width 1
.feather
    stroke currentColor
    stroke-width 2
    stroke-linecap round
    stroke-linejoin round
    fill none
    &.thin
        stroke-width 1