input, textarea, select
    background transparent
    color text
    padding 0.5rem 1rem
    border-radius 0.5rem
    border 2px solid bl
    &:focus
        border-color bd
    {trans}
textarea
    min-height 10rem
button, .button
    display inline-block
    box-sizing border-box
    font-weight 500
    letter-spacing 1px
    margin 0.4rem 0.8rem 0.4rem 0
    padding 1rem 3rem
    &.small
        padding 0.75rem 1.5rem
        letter-spacing 0
    {trans}
    border-radius br
    color white
    background act
    text-decoration none !important
    text-align center
    line-height 1
    border 0
    cursor pointer
    i
        color inherit
        vertical-align middle
        margin-right 0.5rem
        line-height 1.5rem
        {trans}
    span
        vertical-align middle
        line-height 1.5rem
    &:hover
        background accent1
        color white
    .blue &
        border 2px solid white
        background transparent
        &:hover
            background white
            color act
            i
                color act
    .white &
        border @border
        background @background
        &:hover
            background accent1
            color white
            i
                color white
/*
.aButtonGroup
    width
    display inline-flex
    button, .button
        margin-left 0
        margin-right 0
        border-radius 0
        &:first-child
            border-top-left-radius br
            border-bottom-left-radius br
        &:last-child
            border-top-right-radius br
            border-bottom-right-radius br
*/
.aSelect
    position relative
    opacity 1 !important
    & > .feather.small
        margin 0 0 0 0.25rem
    .Options
        opacity 0
        position absolute
        left 3rem
        top 100%
        padding 1rem 0.5rem
        background white
        box-shadow 0 1rem 2rem rgba(black, 0.25)
        visibility hidden
        border-radius 0.5rem
        transform translate(-50%, 0)
        transition 0.3s 0.3s ease all
        width max-content
        text-align center
    &:hover .Options
        visibility visible
        opacity 1
        transform translate(-50%, 0.5rem)
        {trans}
    .anOption, .anOption a
        color act
        display block
        &:hover
            color accent1
    .anOption
        padding 0.75rem 0.5rem