button, .button
    display inline-block
    box-sizing border-box
    font-weight 500
    letter-spacing 1px
    margin .4rem .8rem
    padding 1rem 3rem
    {trans}
    border-radius br
    color white
    background act
    text-decoration none !important
    line-height 1
    i
        color inherit
        vertical-align middle
        margin-right 0.5rem
        line-height 1.5rem
        {trans}
    span
        vertical-align middle
        line-height 1.5rem
    &:hover
        background accent1
        color white
    .blue &
        border 2px solid white
        background transparent
        &:hover
            background white
            color act
            i
                color act
    .white &
        border @border
        background @background
        &:hover
            background accent1
            color white
            i
                color white