h1, h2, h3, h4, h5, h6
    margin-bottom 0
    color accent1
    .blue &
        color white
    .white &
        color @color
    line-height 1.5em
    b
        font-weight 700
h4, h5, h6, h2
    font-weight 600
h1, h2
    font-weight 300
    font-size 3rem
    line-height 4rem
    padding 0.75rem 0
h3
    font-size 1.5rem
    line-height 1.5em
    font-weight 400
.hSub
    font-size 1.5rem
    line-height 1.5em
    font-weight 300
a
    color act
    text-decoration none
    trans
    &:hover
        color accent1
    section.blue &, nav &
        color white
        text-decoration underline
dd
    margin 0
dt
    font-weight 500

pre
    background snow
    border 1px solid bd
    border-radius br
    padding 0.4em 0.8em
    font-family font-mono

p.big
    font-size 150%
    line-height 1.6


a
    {trans}

code
    font-family font-mono
    &.inline
        background bl
        text-shadow 0 1px 0 white
        border-radius brsmall
        padding 0 0.25rem

.aNiceOl
    margin 2rem auto
    padding 0
    list-style none
    counter-reset niceOl
    max-width 50em
    li
        counter-increment niceOl
        position relative
        padding 1rem 0 0 6rem
        margin 3rem 0
        &::after
            content counter(niceOl)
            border-radius 10rem
            padding 0
            text-align center
            height 4rem
            width 4rem
            line-height 4rem
            position absolute
            left 0
            top 0
            font-size 150%
            font-weight 400
            background act
            color white
    li + li::before
        content ""
        background bd
        height 1px
        position absolute
        top -1.5rem
        display block
        left 6rem
        right 6rem
