@font-face
    font-family 'Iosevka'
    src url('/fonts/iosevka-light.woff2') format('woff2')
    font-weight 400
    font-style normal

@font-face
    font-family 'Iosevka'
    src url('/fonts/iosevka-lightitalic.woff2') format('woff2')
    font-weight 400
    font-style italic

h1, h2, h3, h4, h5, h6
    margin-bottom 0
    color accent1
    .blue &
        color white
    .white &
        color @color
    line-height 1.5em
    b
        font-weight 700
h4, h5, h6, h2
    font-weight 600
h1, h2
    font-weight 300
    font-size 3rem
    line-height 4rem
    padding 0.75rem 0
@media (max-width 640px)
    h2
        font-size 2rem
        line-height 3rem
        font-weight 400
h3
    font-size 1.5rem
    line-height 1.5em
    font-weight 400
    .icon, .feather
        vertical-align middle
        width 2rem
        height @width
        margin-inline-end 0.35em
    .feather
        stroke-width 1.5px
.hSub
    font-size 1.5rem
    h3 + &
        font-size 1.25rem
    line-height 1.5em
    font-weight 300
a
    color act
    text-decoration none
    trans
    &:hover
        color accent1
    section.blue &, nav &
        color white
        text-decoration underline
    section &.blue
        color @color
dd
    margin 0
dt
    font-weight 500

pre
    background snow
    border 1px solid bd
    border-radius br
    padding 0.4em 0.8em
    font-family font-mono
code pre
    {trans}
    transform scale(1)
    &:hover
        {transshort}
        transform scale(1.025)
    font-size 1.25rem
    border-radius 0.5rem
    padding 1.5rem 2rem
    line-height 1.5
    background white
    overflow auto
    {shadamb}

p.big
    font-size 150%
    line-height 1.6


a
    {trans}

code
    font-family font-mono
    &.inline
        background bl
        text-shadow 0 1px 0 white
        border-radius brsmall
        padding 0 0.25rem

.aNiceOl
    margin 2rem auto
    padding 0
    list-style none
    counter-reset niceOl
    max-width 50em
    li
        counter-increment niceOl
        position relative
        padding 1rem 0 0
        padding-inline-start 6rem
        margin 3rem 0
        &::after
            content counter(niceOl)
            border-radius 10rem
            padding 0
            text-align center
            height 4rem
            width 4rem
            line-height 4rem
            position absolute
            left 0
            [lang="ar"] &
                right 0
                left unset
            top 0
            font-size 150%
            font-weight 400
            background act
            color white
        &.heartmarker::after
            content "❤"
    li + li::before
        content ""
        background bd
        height 1px
        position absolute
        top -1.5rem
        display block
        left 6rem
        right 6rem
