@font-face {
  font-family: 'icomoon';
  src:  url('/fonts/icomoon.eot?q6dq2j');
  src:  url('/fonts/icomoon.eot?q6dq2j#iefix') format('embedded-opentype'),
    url('/fonts/icomoon.ttf?q6dq2j') format('truetype'),
    url('/fonts/icomoon.woff?q6dq2j') format('woff'),
    url('/fonts/icomoon.svg?q6dq2j#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  vertical-align: middle;
  line-height: 1;
  font-size: 24px;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-discord:before {
  content: "\e900";
}
.icon-patreon:before {
  content: "\e902";
}
.icon-vk:before {
  content: "\e901";
}
.icon-help:before {
  content: "\e937";
}
.icon-save:before {
  content: "\e96b";
}
.icon-file:before {
  content: "\e92e";
}
.icon-arrow-prev:before {
  content: "\e90a";
}
.icon-mbri-arrow-next:before {
  content: "\e909";
}
.icon-play:before {
  content: "\e95c";
}
.icon-letter:before {
  content: "\e944";
}
.icon-bookmark:before {
  content: "\e90d";
}
.icon-drag-n-drop2:before {
  content: "\e928";
}
.icon-code:before {
  content: "\e91c";
}
.icon-layers:before {
  content: "\e941";
}
.icon-photos:before {
  content: "\e95a";
}
.icon-music:before {
  content: "\e952";
}
.icon-change-style:before {
  content: "\e917";
}
.icon-file1:before {
  content: "\e92f";
}
.icon-magic-stick:before {
  content: "\e94a";
}
.icon-rocket:before {
  content: "\e968";
}
.icon-cursor-click:before {
  content: "\e91f";
}
.icon-extension:before {
  content: "\e92c";
}
.icon-features:before {
  content: "\e92d";
}
.icon-gift:before {
  content: "\e931";
}
.icon-image-gallery:before {
  content: "\e93b";
}
.icon-responsive:before {
  content: "\e966";
}
.icon-smile-face:before {
  content: "\e975";
}
.icon-laptop:before {
  content: "\e940";
}
.icon-apple:before {
  content: "\e907";
}
.icon-windows:before {
  content: "\e994";
}