doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(name="robots" content="noindex")
        title Adminka
        script(src="https://identity.netlify.com/v1/netlify-identity-widget.js")
    body
        script(src="https://unpkg.com/decap-cms@^3.0.0/dist/decap-cms.js")