extends pugTemplates/basic.pug
block head
    title Changelog — Ct.js
    meta(name="description" content="Changelog of ct.js, a free 2D game editor based on web technologies.")
block body
    section.intro.blue.gradient
        .inner.center
            h1 The Changelog
    each release in changelog
        section.grey
            .inner.center
                h2.nmt=release.name
                .hSub=new Date(release.created_at).toLocaleString('en-US', {year: 'numeric', month: 'long', day: 'numeric'})
        if release.body && release.body.length
            section
                .inner.limited!=filters.markdown(release.body)
    section.center
        a.button(target="_blank" href="https://github.com/ct-js/ct-js/releases?page=2") Older releases