extends pugTemplates/basic.pug
block head
    title Games made with ct.js — Ct.js
    meta(name="description" content="Games created with ct.js, a free 2D game editor based on web technologies.")
block body
    section.blue.gradient
        .inner.center
            h1 Made with ct.js
    section
        .inner
            each game, ind in madeWithCtjs.games
                +aCard(game.plainTitle, game.imageurl[0], game.link[0])
                    p=game.description
                if ind % 3 === 2
                    .clear
            .clear
            .center
                a.button.big(href="/contact") Submit Your Project
    section#downloadCTA.blue.gradient
        .inner
            .fifty.npl
                .hSub Join the world of game development
                h2.nmt
                    b It's free!
            .fifty.npr.right
                a.button(href="/download")
                    i.icon-save
                    span   Download
            .clear
mixin aCard(title, image, link)
    .c4
        .aCard
            .aCardMedia
                img(src=image)
                .aCardButton
                    a.button(href=link target="_blank")
                        i.icon-play
                        span   Play
            h4.nmt= title
            if block
                block