---
permalink: |
    | patronsWidget.svg
---
// ⬆️ @see https://github.com/11ty/eleventy/issues/286#issuecomment-436262893
svg(width=960 height=640 xmlns="http://www.w3.org/2000/svg")
    foreignObject(x=0 y=0 width=960 height=640)
        body(xmlns="http://www.w3.org/1999/xhtml")
            style
                include ../dist/patronsWidget.css
            main
                include /patrons.pug