---
permalink: |
    | patronsWidget.svg
---
// ⬆️ @see https://github.com/11ty/eleventy/issues/286#issuecomment-436262893
svg(width=960 height=640 xmlns="http://www.w3.org/2000/svg")
    foreignObject(x=0 y=0 width=960 height=640)
        body(xmlns="http://www.w3.org/1999/xhtml")
            link(href="https://fonts.googleapis.com/css?family=Open+Sans:400,600&display=swap&subset=cyrillic" rel="stylesheet")
            link(rel="stylesheet" href="/patronsWidget.css")
            main
                include /patrons.pug