extends pugTemplates/basic.pug
block head
    title The ct.js brand guidelines
    meta(name="description" content="Download a free 2D game editor from its official site.")
block body
    section.blue#downloads
        .inner
            h2.center 
                b The brand
            .hSub.center Colors, logos, guidelines on using ct.js brand
    section
        .inner
            .center The Cat
        