extends pugTemplates/basic.pug
block head
    title Notas de Atualização — Ct.js
    meta(name="description" content="Notas de atualização do ct.js, um editor de jogos 2D gratuito baseado em tecnologias Web.")
block body
    section.intro.blue.gradient
        .inner.center
            h1 As notas de atualização
    +changelogEntry("v1.1.0 — Última versão", "15 Outubro 2019. tradução para Pt-Br, edição de colisão facilitado, ct.place bugs arrumados, Suporte para yarn, e muito mais")
        :markdown-it
            ### ✨ Novos Conteúdos

            * Adicionado um modo de depuração ao ct.place (você pode encontrá-lo na guia configurações)
            * editor-de-textura: adicione a ferramenta Simetria para formas poligonais (por @schadocalex)
            * Adicionado Iosevka como uma fonte padrão para código, permita configurar sua própria fonte, controle a altura da linha e ligaduras
            * Abra a pasta `includes` no menu hambúrguer
            * Suporte para cópias aninhadas (# 127) por @schadocalex
            * Suporte ao Yarn (uma ferramenta para criar diálogos e ficção interativa), desenvolvido por bondage.js
            * editor-de-textura: adicione / remova diretamente pontos de forma na textura com o mouse. Adicione um ponto clicando nos segmentos de linha amarelos, exclua pontos clicando neles (por @schadocalex)

            ### ⚡️ Melhorias gerais

            * Adicionado Pt-Br tradução de UI por Folha de SP do Discord
            * Melhores caixas de seleção, entradas de rádio e outros campos
            * Melhor estilo de fragmentos de código embutido no painel de módulos
            * Melhor layout do editor de textura
            * Tabelas melhores e mais legíveis nos documentos do módulo
            * Alterado um pouco as cores do Horizon para torná-lo mais agradável de se olhar
            * Destaque blocos de código no painel de módulos
            * Melhorado a embalagem da textura
            * Faça a lista de módulos e seus detalhes rolarem independentemente
            * Removido bordas em excesso nas visualizações aninhadas
            * Removido o excesso de bordas nos painéis dos módulos
            * Removido as chaves do idioma antigo, adicione Comments.json, Debug.json
            * Renomeado a propriedade "É lado a lado" das texturas para "Usar como plano de fundo", oculte as ferramentas de divisão se usadas como plano de fundo
            * editor-de-textura: faça a alça do eixo ao quadrado (por @schadocalex)
            * editor-de-textura: o aumento / redução do zoom agora funciona ao rolar para fora da textura também (por @schadocalex)
            * Pequenas melhorias na interface, aqui e ali

            ### 🐛 Bug Fixes

            * :pencil: Replace Lato's license with Open Sans', as we don't use Lato
            * Color inputs should show white value on a dark background from the very start
            * Fix broken style editor
            * Fix numerous collision problems that appeared with rotated entities
            * Fix the checkbox "close the shape", as it didn't change the actual state before
            * Stop chromium from messing up with color profiles and colors in ct.js

            ### 🍱 Demos and Stuff

            * Add a Yarn demo

            ### 📝 Docs

            * Document the `alpha` property of copies
            * :zap: Update Troubleshooting — teared backgrounds
            * :bug: Update tut-making-shooter.md
            * Pt-Br translation :tada:

            ### 🌐 Website

            * :bug: Fix an outdated link to downloads in the header
            * :sparkles: Add partial Russian translation
            * :zap: Align social icons at the footer to the right
    +changelogEntry("Versões Anteriores", "O tradudor ainda está traduzindo...")
        :markdown-it
            **Se você quiser, pode ver as notas de atualização em inglês:** [Clicando Aqui](../../changelog)


mixin changelogEntry(title, sub)
    section.grey#v0-3-0
        .inner.center
            h2.nmt=title
            .hSub=sub
    if block
        section
            .inner.limited
                block