extends pugTemplates/basic.pug
block head
    title Contato — Ct.js
    meta(name="description" content="Envie um email para o desenvolvedor.")
block body
    section.blue.gradient
        .inner.center
            h1 Contato
    section#contact
        .inner
            .c2
            .c8
                form(name="contact" method="POST" netlify)
                    p.fifty.npl
                        label
                            span Seu Nome:
                            input.wide(type="text" name="name")
                    p.fifty.npr
                        label
                            span Seu Email:
                            input.wide(type="email" name="email")
                    .clear
                    p.nmt
                        label
                            span Mensagem:
                            textarea.wide(name="message")
                    p.center
                        button(type="submit") Envie
            .clear